DB_HOST=localhost
DB_PORT=5433
DB_NAME=paris_indicators
DB_USER=postgres
DB_PASSWORD=postgres


# AccessScore V2
ACCESS_URL_SIRENE=https://object.files.data.gouv.fr/data-pipeline-open/siren/geoloc/GeolocalisationEtablissement_Sirene_pour_etudes_statistiques_utf8.zip
ACCESS_URL_RPPS=https://static.data.gouv.fr/resources/annuaire-sante-extractions-des-donnees-en-libre-acces-des-professionnels-intervenant-dans-le-systeme-de-sante-rpps/20260410-074220/ps-libreacces-personne-activite.txt
ACCESS_URL_FINESS_HOP=https://static.data.gouv.fr/resources/finess-extraction-du-fichier-des-etablissements/20260312-094547/etalab-cs1100507-stock-20260311-0343.csv
ACCESS_URL_ECOLES=https://data.education.gouv.fr/api/explore/v2.1/catalog/datasets/fr-en-annuaire-education/exports/csv?use_labels=true